.page-content {
    background-color: #fff;
    border-radius: 4px;
}

.page-content .special-bar {
    color: #fff;
    background-color: #80bd01;
    font-size: 14px;
    border-radius: 4px;
}

.page-content .normal-bar {
    color: #999;
    background-color: #e5e5e5;
    font-size: 14px;
    border-radius: 4px;
}

.page-title {
    font-size: 22px;
    font-weight: 999;
}

.page-info {
    font-size: 12px;
    color: #838383;
}

.collect-button {
    background-color: #80bd01!important;
    border: none!important;
    font-size: 14px;
    border-radius: 3px;
}

.page-content-body {
    font-size: 16px;
}

.reply-title {
    font-size: 14px;
    color: #444;
}

.reply-info {
    color: #08c;
    font-size: 11px;
}

.reply-info:hover {
    text-decoration: underline;
    color: #005580;
}