.header-panel {
  background-color: #444;
}
.search-bar {
  background-color: #888;
  border-radius: 13px;
}
.search-bar:active {
  background-color: #fff;
}
div.search-bar:hover {
  background-color: #fff;
}
.hash-bar {
  font-size: 14px;
  color: #ccc;
}
.hash-bar div:hover {
  color: #fff;
}
